In [2]:
 from csv import reader

opened_file = open("hacker_news.csv")
read_file = reader(opened_file)
hn = list(read_file)

In [3]:
print(hn[:5])

[['id', 'title', 'url', 'num_points', 'num_comments', 'author', 'created_at'], ['12224879', 'Interactive Dynamic Video', 'http://www.interactivedynamicvideo.com/', '386', '52', 'ne0phyte', '8/4/2016 11:52'], ['10975351', 'How to Use Open Source and Shut the Fuck Up at the Same Time', 'http://hueniverse.com/2016/01/26/how-to-use-open-source-and-shut-the-fuck-up-at-the-same-time/', '39', '10', 'josep2', '1/26/2016 19:30'], ['11964716', "Florida DJs May Face Felony for April Fools' Water Joke", 'http://www.thewire.com/entertainment/2013/04/florida-djs-april-fools-water-joke/63798/', '2', '1', 'vezycash', '6/23/2016 22:20'], ['11919867', 'Technology ventures: From Idea to Enterprise', 'https://www.amazon.com/Technology-Ventures-Enterprise-Thomas-Byers/dp/0073523429', '3', '1', 'hswarna', '6/17/2016 0:01']]

In [4]:
headers = hn[0]
hn= hn[1:]
print(headers)
print(hn[:5])

['id', 'title', 'url', 'num_points', 'num_comments', 'author', 'created_at']
[['12224879', 'Interactive Dynamic Video', 'http://www.interactivedynamicvideo.com/', '386', '52', 'ne0phyte', '8/4/2016 11:52'], ['10975351', 'How to Use Open Source and Shut the Fuck Up at the Same Time', 'http://hueniverse.com/2016/01/26/how-to-use-open-source-and-shut-the-fuck-up-at-the-same-time/', '39', '10', 'josep2', '1/26/2016 19:30'], ['11964716', "Florida DJs May Face Felony for April Fools' Water Joke", 'http://www.thewire.com/entertainment/2013/04/florida-djs-april-fools-water-joke/63798/', '2', '1', 'vezycash', '6/23/2016 22:20'], ['11919867', 'Technology ventures: From Idea to Enterprise', 'https://www.amazon.com/Technology-Ventures-Enterprise-Thomas-Byers/dp/0073523429', '3', '1', 'hswarna', '6/17/2016 0:01'], ['10301696', 'Note by Note: The Making of Steinway L1037 (2007)', 'http://www.nytimes.com/2007/11/07/movies/07stein.html?_r=0', '8', '2', 'walterbell', '9/30/2015 4:12']]

In [6]:
ask_posts = []
show_posts = []
other_posts = []

for each in hn:
    title =each[1]
    title = title.lower()
    if (title.startswith("ask hn")):
        ask_posts.append(each)
    elif(title.startswith("show hn")):
        show_posts.append(each)
    else:
        other_posts.append(each)
        
print(len(ask_posts))
print(len(show_posts))
print(len(other_posts))

1744
1162
17194

In [8]:
total_ask_comments = 0
total_show_comments=0
for each in ask_posts:
    num_comm = float(each[4])
    total_ask_comments +=num_comm
    
avg_ask_comments = total_ask_comments / len(ask_posts)
print(avg_ask_comments)

for each in show_posts:
    num_comm = float(each[4])
    total_show_comments +=num_comm
    
avg_show_comments = total_show_comments / len(show_posts)
print(avg_show_comments)

14.038417431192661
10.31669535283993

###### counts_by_hour: contains the number of ask posts created during each hour of the day.

###### comments_by_hour: contains the corresponding number of comments ask posts created at each hour received.

In [17]:
import datetime as dt

result_list = []
for each in ask_posts:
    created_at = each[6]
    num_comm = float(each[4])
    result_list.append([created_at,num_comm])

counts_by_hour = {}
comments_by_hour = {}

for each in result_list:
    date =  each[0]
   
    dt_obj = dt.datetime.strptime(date,"%m/%d/%Y %H:%M")
    hour = dt_obj.strftime("%H")
    if hour not in counts_by_hour:
        counts_by_hour[hour] = 1
        comments_by_hour[hour] = each[1]
    else:
        counts_by_hour[hour] += 1
        comments_by_hour[hour] += each[1]
        
print(counts_by_hour)

print(comments_by_hour)

{'08': 48, '13': 85, '20': 80, '01': 60, '11': 58, '16': 108, '02': 58, '07': 34, '14': 107, '05': 46, '10': 59, '18': 109, '00': 55, '17': 100, '04': 47, '09': 45, '22': 71, '21': 109, '03': 54, '23': 68, '19': 110, '06': 44, '15': 116, '12': 73}
{'08': 492.0, '13': 1253.0, '20': 1722.0, '01': 683.0, '11': 641.0, '16': 1814.0, '02': 1381.0, '07': 267.0, '14': 1416.0, '05': 464.0, '10': 793.0, '18': 1439.0, '00': 447.0, '17': 1146.0, '04': 337.0, '09': 251.0, '22': 479.0, '21': 1745.0, '03': 421.0, '23': 543.0, '19': 1188.0, '06': 397.0, '15': 4477.0, '12': 687.0}

In [24]:
avg_by_hour = []



for each in counts_by_hour:
    avg = comments_by_hour[each]/counts_by_hour[each]
    avg_by_hour.append([each,avg])
    
print(avg_by_hour)

[['08', 10.25], ['13', 14.741176470588234], ['20', 21.525], ['01', 11.383333333333333], ['11', 11.051724137931034], ['16', 16.796296296296298], ['02', 23.810344827586206], ['07', 7.852941176470588], ['14', 13.233644859813085], ['05', 10.08695652173913], ['10', 13.440677966101696], ['18', 13.20183486238532], ['00', 8.127272727272727], ['17', 11.46], ['04', 7.170212765957447], ['09', 5.5777777777777775], ['22', 6.746478873239437], ['21', 16.009174311926607], ['03', 7.796296296296297], ['23', 7.985294117647059], ['19', 10.8], ['06', 9.022727272727273], ['15', 38.5948275862069], ['12', 9.41095890410959]]

In [32]:
swap_avg_by_hour = []
for each in avg_by_hour:
    swap_avg_by_hour.append([each[1],each[0]])

sorted_swap = sorted(swap_avg_by_hour,reverse = True)

print(sorted_swap)

[[38.5948275862069, '15'], [23.810344827586206, '02'], [21.525, '20'], [16.796296296296298, '16'], [16.009174311926607, '21'], [14.741176470588234, '13'], [13.440677966101696, '10'], [13.233644859813085, '14'], [13.20183486238532, '18'], [11.46, '17'], [11.383333333333333, '01'], [11.051724137931034, '11'], [10.8, '19'], [10.25, '08'], [10.08695652173913, '05'], [9.41095890410959, '12'], [9.022727272727273, '06'], [8.127272727272727, '00'], [7.985294117647059, '23'], [7.852941176470588, '07'], [7.796296296296297, '03'], [7.170212765957447, '04'], [6.746478873239437, '22'], [5.5777777777777775, '09']]

In [33]:
print("Top 5 Hours for Ask Posts Comments")

Top 5 Hours for Ask Posts Comments

In [38]:
for each in sorted_swap[:5]:
    dt_obj = dt.datetime.strptime(each[1],"%H")
    dt_obj_string = dt_obj.strftime("%H:%M")
    string = "{0}  : {1:.2f} average comments per post"
    string = string.format(dt_obj_string,each[0])
    print(string)

15:00  : 38.59 average comments per post
02:00  : 23.81 average comments per post
20:00  : 21.52 average comments per post
16:00  : 16.80 average comments per post
21:00  : 16.01 average comments per post